.cities-main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.citiesTop {
  background-image: url(../img/banner.png);
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.citiesBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.citiesBottom p {
  width: 1200px;
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

.cities .citiesBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
